<nav class="navbar navbar-top navbar-expand navbar-dark bg-danger border-bottom" id="navbar-main">
  <div class="container-fluid">
    <a>
      <img class="logo" src="assets/img/Logo3.png" width="200" style="margin-right: 1rem;" />
      <!-- src="./../../eStorage/assets/img/brand/logo.png" -->
    </a>
    <app-sidebar></app-sidebar>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->

      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
        <!-- <div class="form-group mb-0" [ngClass]="{ focused: focus === true }">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-search"></i
              ></span>
            </div>
            <input
              class="form-control"
              placeholder="Search"
              type="text"
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div>
        </div>
        <button
          type="button"
          class="close"
          (click)="closeSearch()"
          data-action="search-close"
          data-target="#navbar-search-main"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button> -->
      </form>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-md-auto">
        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main"
            (click)="openSidebar()">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
        <li class="nav-item d-sm-none">
          <a class="nav-link" (click)="openSearch()">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>

      </ul>
      <!-- User -->
      <!-- <img src="assets/img/AxisTrustee_Logo.jpg.jpg" class="client_logo" style="width: 42%;"> -->

      <!-- <div class="header">
        <div class="notification-icon" (click)="toggleNotifications()">
          🔔 <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
        </div>
      </div>
      <div *ngIf="showNotifications" class="notification-popup">
        <ul>
          <li *ngFor="let notification of notifications">
            <div class="notification-content">
              <span [class.unread]="!notification.ReadStatus">{{ notification.Notification }}</span>
              <div class="notification-meta">
                <span class="time">{{ notification.CreatedAt }}</span> | 
                <span class="username">{{ notification.NotificationId }}</span>
              </div>
            </div>
            <button *ngIf="!notification.ReadStatus" (click)="markAsRead(notification.NotificationId)">
              Mark as Read
            </button>
          </li>
        </ul>
      </div> -->

      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown" dropdown placement="bottom-right">
          <a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
            <div class="media align-items-center">
              <span class="avatar avatar-sm">
                <img alt="Image placeholder" src="assets/admin-icon.png" />
              </span>
              <div class="media-body ml-2 d-none d-lg-block" style="color: white;">
                <span class="mb-0 text-sm  font-weight-bold">{{UserName}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" *dropdownMenu>
            <a class="dropdown-item" routerLink="/usermanagement/change-password">
              <i class="ni ni-key-25"></i> <span>Change Password</span>
            </a>
            <!-- <div class="dropdown-divider"></div> -->
            <a href="javascript:void()" class="dropdown-item" (click)="Logout()">
              <i class="ni ni-user-run"></i> <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>

      
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown" dropdown placement="bottom-right">
          <a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
            <div class="media align-items-center">
              <span class="notification-icon">
                🔔 <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right notification-popup" *dropdownMenu
            (click)="$event.stopPropagation()">
            <div class="notification-Panel">
              <ul>
                <li *ngFor="let notification of notifications">
                  <div class="notification-content">
                    <span [class.unread]="!notification.ReadStatus">{{ notification.Notification }}</span>
                    <div class="notification-meta">
                      <span class="time">{{ notification.CreatedAt }}</span> |
                      <span class="time">{{ notification.CreatedBy }}</span> |
                      <span class="username">{{ notification.ProjectName }}</span>
                    </div>
                  </div>
                  <button *ngIf="!notification.ReadStatus" (click)="markAsRead(notification.NotificationId)">
                    Mark as Read
                  </button>
                </li>
              </ul>
            </div>
            <div *ngIf="notifications.length === 0" class="no-notifications">No new notifications</div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div *ngIf="sidenavOpen === true" class="backdrop d-xl-none" (click)="toggleSidenav()"></div>