<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="fa fa-building mr-2"></i>
            <span>Organization</span>
          </ng-template>

          <div class="dataTables_wrapper checklist-table w-100" style="
              background-color: #ffffff;
              box-shadow: 0px 7px 9px 5px #c2cdd7;
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              overflow: hidden;">

            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [(first)]="first"
              (onPage)="paginate($event)" [loading]="loading"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" style="width: 18rem" pInputText size="50" placeholder="Search records"
                      (input)="searchTable($event)" class="global-search search" />
                  </div>
                  <div class="col-sm-6 text-right">
                    <div class="btn-group">
                      <button type="button" class="btn success" pTooltip="Add Organization" tooltipPosition="bottom"
                        (click)="AddOrganization(OrganizationPopup)">
                        <i class="fa fa-plus fa-lg"></i>
                      </button>
                      <button type="button" class="btn success" pTooltip="Download" tooltipPosition="bottom"
                        (click)="onDownloadExcelFile('Organization List')">
                        <i class="fa fa-download fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of headerList; let i = index" [ngStyle]="i == 0 && { width: '5%' }">
                    {{ col.header }}
                    <p-sortIcon *ngIf="i == 10" [field]="col.field"></p-sortIcon>
                  </th>

                  <th style="width: 10%">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of headerList">
                    {{ car[col.field] }}
                  </td>
                  <td>
                    <button type="button" pTooltip="Edit Organization" tooltipPosition="right" style="
                        padding: 0 0 6px 4px;
                        color: #000;
                        margin-left: 0.65rem;
                        width: 28px;
                        height: 28px;
                      " class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                      (click)="OnEditOrganization(OrganizationPopup, car)">
                      <span class="btn-inner--icon"><i class="fa fa-pen" style="
                            color: #000;
                            margin-right: 3px;
                            margin-top: 0.32rem;
                            size: -2px;
                            font-size: 13px;
                          "></i></span>
                    </button>
                    <!-- <button type="button" tooltip="Delete" style="
                        color: #000;
                        width: 28px;
                        margin-left: 10px;
                        height: 28px;
                      " class="btn btn-icon btn-secondary btn-icon-only rounded-circle" (click)="OnDelete(car)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button> -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>


        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="fa fa-user-plus mr-2"></i>
            <span>Access Organization</span>
          </ng-template>

          <div class="dataTables_wrapper checklist-table w-100" style="
              background-color: #ffffff;
              box-shadow: 0px 7px 9px 5px #c2cdd7;
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              overflow: hidden;">

            <p-table [paginator]="true" [rows]="10" [value]="formattedDataForOrgaizationMapping" [autoLayout]="true"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [(first)]="first"
              (onPage)="paginate($event)" [loading]="loading"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" style="width: 18rem" pInputText size="50" placeholder="Search records"
                      (input)="searchTableForOrganizationMapping($event)" class="global-search search" />
                  </div>
                  <div class="col-sm-6 text-right">
                    <div class="btn-group">
                      <button type="button" class="btn success" pTooltip="Add Organization Mapping"
                        tooltipPosition="bottom" (click)="onAddOrganizationMapping(OrganizationMappingPopup)">
                        <i class="fa fa-plus fa-lg"></i>
                      </button>
                      <button type="button" class="btn success" pTooltip="Download" tooltipPosition="bottom" (click)="
                          onDownloadExcelFileForOrganizationMapping('OrganizationMapping List')
                        ">
                        <i class="fa fa-download fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of headerListForOrgaizationMapping; let i = index"
                    [ngStyle]="i == 0 && { width: '5%' }">
                    {{ col.header }}
                    <p-sortIcon *ngIf="i == 10" [field]="col.field"></p-sortIcon>
                  </th>

                  <th style="width: 10%">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of headerListForOrgaizationMapping">
                    {{ car[col.field] }}
                  </td>
                  <td>
                    <button type="button" pTooltip="Edit" tooltipPosition="right" style="
                        padding: 0 0 6px 4px;
                        color: #000;
                        margin-left: 0.65rem;
                        width: 28px;
                        height: 28px;
                      " class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                      (click)="editOrganizationMapping(OrganizationMappingPopup, car)">
                      <span class="btn-inner--icon"><i class="fa fa-pen" style="
                            color: #000;
                            margin-right: 3px;
                            margin-top: 0.32rem;
                            size: -2px;
                            font-size: 13px;
                          "></i></span>
                    </button>
                    <!-- <button type="button" tooltip="Delete" style="
                        color: #000;
                        width: 28px;
                        margin-left: 10px;
                        height: 28px;
                      " class="btn btn-icon btn-secondary btn-icon-only rounded-circle" (click)="OnDelete(car)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button> -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>
</div>


<ng-template #OrganizationPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card">
        <div class="card-headers">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="header-title">Add Organization</h3>
            </div>
            <div class="col-sm-6" style="text-align: end">
              <button type="button" class="btn success">
                <i class="fa fa-times fa-lg" (click)="OnClose()"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form class="needs-validation" novalidate="" [formGroup]="AddOrganizationForm"
            (ngSubmit)="createOrganization()">
            <div class="form-row">

              <div class="col-md-12 mb-3">
                <label class="form-control-label pr-2" for="OrganizationTypeID" style="width: 40%">Organization Type
                  *</label>
                <select name="OrganizationTypeID" id="OrganizationTypeID" class="form-control"
                  formControlName="OrganizationTypeID"
                  [ngClass]="{'is-invalid': f.OrganizationTypeID.touched && f.OrganizationTypeID.invalid}">
                  <option value="0">Select Organization Type</option>
                  <option *ngFor="let _OrganizationType of _OrganizationTypeL" [value]="_OrganizationType.Id">
                    {{ _OrganizationType.OrganizationType }}
                  </option>
                </select>
                <div class="error" *ngIf="f.OrganizationTypeID.touched && f.OrganizationTypeID.invalid">
                  <small *ngIf="f.OrganizationTypeID.errors?.['pattern']" style="color: red;">Organization Type is
                    required.</small>
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="OrganizationName">
                  Organization Name *
                </label>
                <input class="form-control" (input)="verifyInput($event)" id="OrganizationName"
                  formControlName="OrganizationName" type="text" placeholder="Organization Name"
                  ng-pattern="/^[a-zA-Z]*$/"
                  [ngClass]="{'is-invalid': f.OrganizationName.touched && f.OrganizationName.invalid}" />
                <div class="error" *ngIf="f.OrganizationName.touched && f.OrganizationName.invalid">
                  <small *ngIf="f.OrganizationName.errors?.['required']" style="color: red;">Organization Name is
                    required.</small>
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-control-label" for="MobileNo"> Mobile No</label>
                <input class="form-control" (input)="verifyInput($event)" id="MobileNo" formControlName="MobileNo"
                  placeholder="Enter Mobile No" type="number" />
                <!-- minlength="10" maxlength="10" <div class="errorMsg-feedback" *ngIf="f.MobileNo.touched && f.MobileNo.errors?.pattern">
                  Mobile No must be exactly 10 digits long.
                </div> -->
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-control-label" for="EmailID"> Mail ID </label>
                <input class="form-control" (input)="verifyInput($event)" id="EmailID" formControlName="EmailID"
                  placeholder="Enter Mail ID" type="email" />
                <div class="errorMsg-feedback" *ngIf="f.EmailID.touched && f.EmailID.errors?.email">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="Location">
                  Location
                </label>
                <input class="form-control" (input)="verifyInput($event)" id="Location" formControlName="Location"
                  placeholder="Enter location" type="text" />
              </div>

            </div>
            <div class="form-row">
              <div class="col text-right">
                <button class="btn successbtn b-submit" [disabled]="AddOrganizationForm.invalid" type="submit">
                  Save
                </button>
                <button type="button" class="btn dangerbtn b-close" (click)="OnReset()">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #OrganizationMappingPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class=" card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="header-title">Access Organization</h3>
            </div>
            <div class="col-sm-6" style="text-align: end">
              <button type="button" class="btn success">
                <i class="fa fa-times fa-lg" (click)="OnClose()"></i>
              </button>
            </div>
          </div>
          <form class="needs-validation" novalidate="" [formGroup]="AddOrganizationMapping"
            (ngSubmit)="onOrganizationMapping()">
            <div class="form-row">

              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="UserID">
                  User
                </label>
                <select class="form-control" formControlName="UserID" data-toggle="select" id="UserID"
                  (change)="getEntityForUser($event.target.value)">
                  <option value=0> Select User</option>
                  <option *ngFor="let _User of _UserL" [value]="_User.id">
                    {{_User.userid}}
                  </option>
                </select>
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-3">
                <ul class=" list-group list-group-flush" data-toggle="checklist">
                  <li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                    <div class=" checklist-item checklist-item-success">
                      <div class=" custom-control custom-checkbox custom-checkbox-success">
                        <input class=" custom-control-input" type="checkbox" id="_checkAllID" (change)="master_change()"
                          formControlName="selectAll" [value]="AddOrganizationMapping.get('selectAll').value" />
                        <label class=" custom-control-label" for="_checkAllID">
                          <div class=" checklist-info">
                            <h4 class=" checklist-title mb-0">
                              {{AddOrganizationMapping.get('selectAll').value?'Unselect':'Select '}}All</h4>
                          </div>
                        </label>
                      </div>

                    </div>
                  </li>

                  <ng-container formArrayName="checklist">
                    <li *ngFor="let listItem of checklistArray.controls,let i=index"
                      class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                      <div class=" checklist-item checklist-item-success">
                        <div class=" custom-control custom-checkbox custom-checkbox-success" [formGroupName]="i">
                          <input formControlName="ischecked" [value]="listItem.get('ischecked').value"
                            class=" custom-control-input" type="checkbox" [id]="i" />
                          <label class=" custom-control-label" [for]="i">
                            <div class=" checklist-info">
                              <h4 class=" checklist-title mb-0">{{listItem.get('OrganizationName').value}}</h4>
                            </div>
                          </label>
                        </div>

                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="form-row">
              <div class="col text-right">
                <button type="button" class="btn successbtn pt-2 pb-2 pl-3 pr-3" type="submit">
                  Submit
                </button>
                <button type="button" class="btn dangerbtn b-close" (click)="OnReset()">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>