<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
        </div>

        <div class="col-lg-6 col-5 d-flex justify-content-end">
          <button type="button" class="btn success" pTooltip="Back" tooltipPosition="top" (click)="onBack()">
            <i class="fa fa-arrow-left fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="CodeBrowseForm">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0 float-left mt-2">Source Code Download</h2>
            <div class="d-flex float-right">
              <label class="form-control-label mb-1" for="Version"
                style="text-wrap: nowrap; margin-right: 5px;padding-top: 5px;">
                Version :
              </label>
              <select name="Version" id="Version" class="form-control" formControlName="Version"
                (change)="getBranchList($event.target.value)"
                style="height: 30px; width: 80%; padding: 2px 8px; font-size: 14px;"
                [ngClass]="{'is-invalid': f.Version.touched && f.Version.invalid}">
                <option value="0">Select Version</option>
                <option *ngFor="let _Version of _VersionL" [value]="_Version.Id">
                  {{ _Version.Version }}
                </option>
              </select>
              <!-- <button type="button" class="btn success" pTooltip="Back" tooltipPosition="top" (click)="onBack()">
                <i class="fa fa-arrow-left fa-lg"></i>
              </button> -->
              <a><span class="btn-inner--icon" (click)="downloadSCFile()"><img tooltip="Source Code Download"
                    src="assets/img/clouddownload.png" alt="Edit User" class="btn-image"
                    style=" width: 28px; height: 28px;margin-left: 1rem; margin-right: 1rem;" /></span>
              </a>
            </div>
          </div>

          <div class="row mt-3 px-4" style="height: 40rem">
            <div class="form-group col-lg-4 col-md-4 scrollbar-thin" style="height: 38rem; overflow: auto">
              <div class="flex flex-column align-items-left justify-content-center">
                <p-tree [value]="files" class="w-full md:w-30rem bg-none border-none"
                  (onNodeSelect)="onNodeSelect($event)" (click)="getFile($event)" selectionMode="single"
                  [(selection)]="selectedFile">
                </p-tree>
              </div>
            </div>
            <div class="form-group col-lg-8 col-md-8 scrollbar-thin" style="height: 38rem; overflow: auto"
              (copy)="blockCopy($event)" (contextmenu)="blockContextMenu($event)">
              <div class="rounded shadow-sm p-4 overflow-auto"
                style="max-height: 450px;border: 1px solid rgba(255, 255, 255, 0.1);font-family: 'Courier New', monospace;line-height: 1.5;color: black;">
                <pre *ngFor="let line of contentLines" class="mb-0 px-2 py-1"
                  style="white-space: pre-wrap;word-wrap: break-word;border-left: 3px solid #5bc0de;color: black;">{{ line }}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>