<div class="login-container" *ngIf="!CheckUserForm">
    <div class="login-box">
        <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()">

            <label style="color: #00d084; align-items: self-start;margin-left: 8px;">Reset Password</label>

            <div class="input-group">
                <span class="icon"><i class="fas fa-key"></i></span>
                <span class="separator"></span>
                <input [type]="showPassword ? 'text' : 'Password'" formControlName="newPassword"
                    autocomplete="new-password" placeholder="Enter New Password" />

                <div class="input-group-append">
                    <span class="input-group-text" (mousedown)="$event.preventDefault()"
                        (click)="togglePasswordVisibility()">
                        <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>
                </div>
            </div>
            <div class="error" *ngIf="f.newPassword.touched && f.newPassword.invalid">
                <small *ngIf="f.newPassword.errors?.['required']" style="color: red;">Password is required.</small>
            </div>
            <div class="error" *ngIf="f.newPassword.touched && f.newPassword.invalid">
                <small *ngIf="f.newPassword.errors?.['pattern']" style="color: red;">
                    Password should meet the following criteria:
                    <ul style="text-decoration: none;">
                      <li>Contain at least 12 characters</li>
                      <li>Contain at least 1 special character</li>
                      <li>Contain at least 1 number</li>
                      <li>Contain at least 1 lowercase character (a-z)</li>
                      <li>Contain at least 1 uppercase character (A-Z)</li>
                    </ul>
                </small>
            </div>

            <div class="input-group">
                <span class="icon"><i class="fas fa-key"></i></span>
                <span class="separator"></span>
                <input type="Password" formControlName="confirmNewPassword"
                    autocomplete="new-password" placeholder="Confirm New Password" />
            </div>
            <div class="error" *ngIf="f.confirmNewPassword.touched && f.confirmNewPassword.invalid">
                <small *ngIf="f.confirmNewPassword.errors?.['required']" style="color: red;">Password is required.</small>
            </div>
            <div class="error" *ngIf="f.confirmNewPassword.touched && f.confirmNewPassword.invalid">
                <small *ngIf="f.confirmNewPassword.errors?.['confirmedValidator']" style="color: red;">
                    New Password and Confirm New Password must match.
                </small>
            </div>

            <p class="support-text">
                For any assistance write to:
                <a href="mailto:estoragesupport@crownims.com" style="text-decoration: underline;">{{ lbl }}</a>
            </p>
            <div class="actions">
                <!-- <a routerLink="/Login" class="back-link">Back to Login</a> -->
                <button (click)="onSubmit()" type="submit" class="submit-btn" [disabled]="ForgotPasswordForm.invalid">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div class="footer-text">
        <p>Work uncomplicated</p>
        <a href="https://www.crownrms.com" target="_blank">www.crownrms.com</a>
    </div>
    <div class="image-box">
        <img src="./assets/co-1.jpg" alt="Login Background" class="responsive-image" />
    </div>

    <img src="./assets/img/Logo1.jpg" alt="Login icon" class="Logo-icon" />
</div>

<div class="login-container invalid-url-box" *ngIf="CheckUserForm">
    <span class="error-text">
        <h1 >{{ error }}</h1>
        <p>Please request a new password reset link.</p>
    </span>
</div>

<ng-template #Help let-c="close" let-d="dismiss" let-modal>
    <div class="card-body">
        1.Enter UserID, Enter Password & Click on Sign in<br>
        2. Helps in finding new Password through mail<span style="color:#ffffff;font-weight:bold">Forgot Password</span>
        <br>
        <span>Need More Help?</span><br>
        <span style="color:black;font-weight:bold">We are available hear </span><br>
        <img style="padding-top: 10px;padding-bottom: 10px;height: 41px;" src="assets/img/telephone.png">:<span
            style="padding-top: 10px;">7208941973</span><br>
        <img style="height: 25px;" src="assets/img/email.png">:<span style="padding-bottom: 5px;">{{ lbl }}</span>
    </div>
</ng-template>

<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>