<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-8 col-7">
          <!-- <h6 class=" h2 text-white d-inline-block mb-0">Custom Form</h6> -->

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark" >
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)" class="text-gray"> <i class=" fas fa-home" routerLink="/process/code-verification"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)" class="text-gray"> Master </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active text-dark">
                Custom Form
              </li>
            </ol>
          </nav>
        </div>

        <!-- <div class=" col-lg-4 col-5 text-right mt-2">
          <a class=" btn btn-sm btn-neutral" (click)="RedirectToEdit(0)">Add Field</a>
          <a class=" btn btn-sm btn-neutral reset_btn" (click)="addTemplate(TemplateFormPopup)">Clone Tempalte</a>
        </div> -->

       

      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
      
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">All Field</h3>
              <p class="text-sm mb-0"></p>
            </div>
            <div class="col text-right">
              <button type="button" class="btn success" tooltip="Field" (click)="RedirectToEdit(0)">
                <i class="fa fa-plus fa-lg"></i> 
              </button>
              <button type="button" class="btn success" tooltip="Clone Template" (click)="addTemplate(TemplateFormPopup)">
                <i class="fa fa-user fa-lg"></i> 
              </button>
              <button type="button" class="btn success" tooltip="Download" (click)="onDownloadExcelFile('Custom Form List')">
                <i class="fa fa-download fa-lg"></i> 
              </button>
            </div>
          </div>
        </div>
        

        <form [formGroup]="ViewCustomeForm">

          <div class="dataTables_wrapper checklist-table w-100">
             
            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                  
                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                     
                      <th *ngFor="let col of headerList; let i = index;"  [ngStyle]="i==0 && {'width': '5%'}">
                          {{col.header}}
                          <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 10%;">
                        ACTION
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                  <tr>
                     
                      <td *ngFor="let col of headerList">
                        {{car[col.field]}}
                      </td>
                        <td>
                          <button  type="button" tooltip="Edit" style="
                          padding: 0 0 6px 4px;
                         color: #000;
                         
                          width: 28px;
                         height: 28px;" class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                         (click)="RedirectToEdit(car)">
                          <span class="btn-inner--icon"><i class="fa fa-pen" style="
                          color: #000;
                          margin-right: 3px;
                           margin-top: 0.32rem;
                           size: -2px;
                           font-size: 13px;"></i></span>
                        </button>
                          <!-- <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-icon-only" (click)="RedirectToEdit(car)">
                            <span class="btn-inner--icon"><i class="fa fa-pen"></i></span>
                          </button> -->
                          <!-- <button type="button" style="padding:0 0 5px 1px" class="btn btn-icon btn-icon-only" (click)="deleteTemplate(car)">
                            <span class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                          </button> -->
                        </td> 
                  </tr>
              </ng-template>
          </p-table>
                           
  
          </div>
        <!-- <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="dataTables_length" id="datatable_length">
              <label class=" form-control-label" for="TemplateID">
                Template
              <select class="form-control form-control-sm" formControlName="TemplateID" data-toggle="select" id="TemplateID"
              (change)="geTemplateNameListByTempID($event.target.value)">
                <option value="0"> Select Template</option>
                <option *ngFor="let _TL of TemplateList" [value]="_TL.id"  >
                  {{_TL.TemplateName}}
                  </option>
              </select>
            </label>
              </div>

            </div>

            <div class="col-sm-12 col-md-4">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="_FilteredList"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TemplateName">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.TemplateName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="DisplayName">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.DisplayName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="FieldTypeText">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.FieldTypeText}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="MinLength">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.MinLenght}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="MaxLength">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.MaxLenght}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" sortable="false" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-warning btn-icon-only rounded-circle" (click)="RedirectToEdit(value)">
                  <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                </button>
                <button type="button" style="padding:0 0 5px 1px" class="btn btn-icon btn-icon-only rounded-circle" (click)="deleteTemplate(value)">
                  <span class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                </button>
          </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div> -->
      </form>

      </div>
    </div>
  </div>
</div>


<ng-template #TemplateFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class=" card">
        <div class=" card-header"> <div class="row">
          <div class="col-sm-6"><h3 class="header-title">Clone Template</h3></div>
          <div class="col-sm-6" style="text-align: end;"><button type="button" class="btn success" >
            <i class="fa fa-times fa-lg" (click)="OnReset()"></i> 
          </button></div>
        </div></div>

        <div class="card-body">
          <form class="needs-validation" novalidate="" [formGroup]="ViewCustomeForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <!-- <div class="col-md-12 mb-3">
                <label class="form-control-label" for="TemplateName">
                
                </label>                
              </div> -->

              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="TemplateName">
                    From
                </label>       
                <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateIDFrom"
                 >
                  <option value=0>Select Template</option>
                  <option *ngFor="let _Temp of _TList" [value]="_Temp.TemplateID">
                    {{_Temp.TemplateName}}
                  </option>
                </select>
              </div>
              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="TemplateName">
                  To
              </label>   
                <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateIDTo"
                  >
                  <option value=0>Select Template</option>
                  <option *ngFor="let _Temp of _CloneList" [value]="_Temp.TemplateID">
                    {{_Temp.TemplateName}}
                  </option>
                </select>
              </div>
            </div>
            <button type="button" class="btn successbtn p-2" type="submit">
            Clone
            </button>
            <!-- <button type="button" class="btn dangerbtn p-2" (click)="OnReset()"><i class="fa fa-times"></i>Close</button> -->

          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" 
                    [showTransitionOptions]="'1000ms'" 
                    [hideTransitionOptions]="'1000ms'" 
                    [showTransformOptions]="'translateX(100%)'"></p-toast>
 