<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Change password</h3>
        </div>

        <div class="card-body">
          <form class="needs-validation" novalidate="" [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class=" col-md-2 mb-3">
                <label class=" form-control-label name" for="currentpwd">
                  Current Password :-
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input name="currentpwd" id="currentpwd" formControlName="currentpwd" required
                  placeholder="Current Password" type="password" class="form-control">
                <div class="errorMsg-feedback" *ngIf="f.currentpwd.touched && f.currentpwd.hasError('required')">Current
                  Password Required</div>
              </div>
            </div>

            <div class=" form-row">
              <div class=" col-md-2 mb-3">
                <label class=" form-control-label name" for="loginPass">
                  New Password :-
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input name="pwd" id="loginPass" formControlName="pwd" required placeholder="New Password"
                  type="password" class="form-control">

                <div class="errorMsg-feedback" *ngIf="f.pwd.touched && f.pwd.hasError('required')">New Password Required
                </div>

                <div class="errorMsg-feedback" *ngIf="f.pwd.touched && f.pwd.errors">Password should meet the following
                  criteria:
                  <ul>
                    <li>Contain at least 12 characters</li>
                    <li>Contain at least 1 special character</li>
                    <li>Contain at least 1 number</li>
                    <li>Contain at least 1 lowercase character (a-z)</li>
                    <li>Contain at least 1 uppercase character (A-Z)</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class=" form-row">
              <div class=" col-md-2 mb-3">
                <label class=" form-control-label name" for="confirmPass">
                  Confirm New Password:-
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input name="confirmPass" id="confirmPass" formControlName="confirmPass"
                  placeholder="Confirm New Password" type="password" class="form-control">
                <div class="errorMsg-feedback" *ngIf="f.confirmPass.touched && f.confirmPass.hasError('required')">
                  Confirm New Password Required</div>
                <div class="errorMsg-feedback"
                  *ngIf="f.confirmPass.touched && f.confirmPass.invalid && f.confirmPass.errors.confirmedValidator">
                  Password and Confirm Password must be match.</div>
              </div>
            </div>
            <div class="col-6">
              <button type="submit" class="btn Submitbtn p-2" [disabled]="!changepasswordform.valid" type="submit">
                Submit
              </button>
              <button type="button" (click)="OnResetdata()" class="btn resetbtn p-2">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>