.change-password-body{
  box-shadow: 0px 7px 9px 5px #c2cdd7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  margin-top: 0.15rem;  
  background-color: white; 
  padding: 26px;
}


.b-submit {
  color: #005E82;  
  box-shadow: 0px 1px 5px 0px #005E82

}

.b-reset {
  color: #d9534f;  
  box-shadow: 0px 1px 5px 0px #d9534f

}

.name{
  font-size: 17px;
  margin-top: 0.8rem;
}


.Submitbtn{  //vmj
  border-color: #0A424A !important;
  color: #0A424A !important;
  border-radius: 20px !important;
  padding: 5px 30px !important;
  font-size: 16px;
  float: right !important;
}

.Submitbtn:hover {
  border-color: #02425c !important;
  box-shadow: 0px 1px 5px 0px #C9F5D9 !important;
  background-color: #C9F5D9 !important; 
  color: #0f292e !important;
  padding: 5px 30px !important;
  font-size: 16px;
  margin-right: 5px !important;
  float: right !important;
} 



.resetbtn {  //vmj
  border-color: red !important;
  color: red !important;
  border-radius: 20px !important;
  font-family: 'Auxilia regular' !important;
  padding: 5px 30px !important;
  margin-right: 5px !important;
  font-size: 16px;
  float: right !important;
}

.resetbtn:hover {   //vmj
  box-shadow: 0px 1px 5px 0px red !important;
  border-radius: 20px !important;
  background-color: red !important; 
  color: #ffffff !important;
  padding: 5px 30px !important;
  font-size: 16px;
  float: right !important;
}