<div class="login-container">
  <div class="login-box">
    <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()">
      
      <label style="color: #00d084; align-items: self-start;margin-left: 8px;">Reset Password</label>
      <div class="input-group">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span class="separator"></span>
        <input id="email" type="email" formControlName="username" placeholder="Enter email" maxlength="50" />
      </div>
      <p class="help-text">
        Enter your registered email id to reset your password.
      </p>
      <p class="support-text">
        For any assistance write to:
        <a href="mailto:estoragesupport@crownims.com" style="text-decoration: underline;">{{ lbl }}</a>
      </p>
      <div class="actions">
        <a routerLink="/Login" class="back-link">Back to Login</a>
        <button (click)="onSubmit()" type="submit" class="submit-btn" [disabled]="ForgotPasswordForm.invalid">
          Submit
        </button>
      </div>
    </form>
    <!-- <div class="row" style=" display: flex; align-items: center; margin-left: 152px !important;  margin-top: -40px;">
                <div class="col-md-10" style="text-align: end;padding-top: 10px;cursor: pointer;color: #0A424A;"
                 ><span  (click)="HelpDailog(Help)">Help?</span>
                </div>
                <div class="col-md-2" style="padding-left: 6px; padding-top: 10px;flex-shrink: 0; white-space: nowrap;">
                  <a routerLink="/Login" style="text-decoration:underline;">Sign In</a>
                </div>
              </div> -->

  </div>

  <div class="footer-text">
    <p>Work uncomplicated</p>
    <a href="https://www.crownrms.com" target="_blank">www.crownrms.com</a>
  </div>
  <!-- Right Section: Image -->
  <div class="image-box">
    <img src="./assets/co-1.jpg" alt="Login Background" class="responsive-image" />
    <!-- <div class="image-i"> -->
    <!-- <img style="height: 10px; width: 40px; padding-right: 0%;" src="assets/img/Logo.jpeg" /> -->
    <!-- </div> -->
  </div>
  
  <img src="./assets/img/Logo1.jpg" alt="Login icon" class="Logo-icon" />
  <!-- <div class="row" style="padding-top: 90px;margin-left: 500px !important; position:sticky; padding-top: 200PX;">
              <div class="col-md-8"></div>
              <div class="col-md-4" style="text-align: center;">
                <img style="border-radius: 40px;padding-bottom: 10px;" src="assets/img/crown.png"><br>
                <span style="color:#000000;"> Powered By Crown WorldWide Group</span>
              </div>
            </div> -->
</div>

<ng-template #Help let-c="close" let-d="dismiss" let-modal>
  <div class="card-body">
    1.Enter UserID, Enter Password & Click on Sign in<br>
    2. Helps in finding new password through mail<span style="color:#ffffff;font-weight:bold">Forgot Password</span>
    <br>
    <span>Need More Help?</span><br>
    <span style="color:black;font-weight:bold">We are available hear </span><br>
    <img style="padding-top: 10px;padding-bottom: 10px;height: 41px;" src="assets/img/telephone.png">:<span
      style="padding-top: 10px;">7208941973</span><br>
    <img style="height: 25px;" src="assets/img/email.png">:<span style="padding-bottom: 5px;">{{ lbl }}</span>
  </div>
</ng-template>

<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>