<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="login_form">
          <div class="login_field">

            <form [formGroup]="loginForm" [hidden]="OTPScreen" (keyup.enter)="onSubmit()" style="margin-bottom: 50px">
              <table style="margin-top: 20px">
                <tr class="col-md-6">
                  <td rowspan="2">
                    <img src="assets/img/Logo.jpeg" />
                    <p style=" font-style: italic; font-size: 2.6rem; font-size: smaller; color: white;">
                      The power of memory
                    </p>
                  </td>
                  <td>
                    <!-- userid -->
                    <div style="position: relative" class="p-float-label" style="margin-bottom: 10px">
                      <input id="float-input" type="email" formControlName="username" maxlength="50"
                        style="color: black; width: 100%; border-radius: 5px" />
                      <!-- [(ngModel)]="value2"  -->
                      <label for="float-input"
                        style="position: absolute;top: -20px;left: 0;color: white;font-size: 15px;">UserID</label>
                    </div>
                    
                  </td>
                </tr>
                <tr class="col-md-6">
                  <td>
                    <!--password  -->
                    <div style="position: relative" class="p-float-label" style="margin-top: 30px">
                      <input id="float-password" type="password" formControlName="password" class="custom-text-field"
                        [type]="fieldTextType ? 'text' : 'password'"
                        style=" color: black; width: 100%; padding-right: 40px; border-radius: 5px; " />
                      <label for="float-password"
                        style=" position: absolute; top: -20px; left: 0; color: white; font-size: 15px; ">Password</label>
                      <i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType }"
                        (click)="toggleFieldTextType()"
                        style=" position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; "></i>
                    </div>
                  </td>
                </tr>
              </table>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="text-align: end; margin-top: 20px">
                  <button type="button" [disabled]="loginForm.invalid" class="successl" (click)="onSubmit()">
                    Send OTP
                  </button>
                </div>
              </div>
            </form>

            <form [formGroup]="AuthenticateForm" [hidden]="!OTPScreen" (keyup.enter)="VerifyOTP()"
              style="margin-bottom: 50px">
              <table style="margin-top: 20px">
                <tr class="col-md-6">
                  <td rowspan="2">
                    <img src="assets/img/Logo.jpeg" />
                    <p style=" font-style: italic; font-size: 2.6rem; font-size: smaller; color: white;">
                      The power of memory
                    </p>
                  </td>
                  <td>
                    <div style="position: relative" class="p-float-label" style="margin-bottom: 10px">
                      <input id="OTP" type="text" formControlName="OTP" maxlength="50"
                        style="color: black; width: 100%; border-radius: 5px" />
                      <p style="text-align: start;color: white;">We have sent an OTP to your registered Email</p>
                      
                      <div *ngIf="countdown > 0" style="text-align: start;color: white; margin: 0; padding: 0;">
                        Resend OTP available in: {{ countdown }} seconds
                      </div>
                      <label for="OTP" style="position: absolute;top: -20px;left: 0;color: white;font-size: 15px;">Enter
                        OTP</label>
                    </div>
                  </td>
                </tr>
              </table>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="text-align: end;">
                  <button type="button" [disabled]="countdown > 0" class="verify" (click)="onSubmit()">
                    Resend OTP
                  </button>
                  <button type="button" [disabled]="AuthenticateForm.invalid" class="successl" (click)="VerifyOTP()">
                    Sign In
                  </button>
                </div>
              </div>
            </form>

            <div class="row" style="display: flex;align-items: center;margin-left: 152px !important;margin-top: -40px;">
              <div class="col-md-9" style="flex: 1;text-align: end;padding-top: 10px;cursor: pointer;color: #0a424a;">
                <span (click)="HelpDailog(Help)">Help?</span>
              </div>
              <div class="col-md-3" style="padding-left: 6px;padding-top: 10px;flex-shrink: 0;white-space: nowrap;">
                <a routerLink="/forgot-password" style="text-decoration: underline">Forgot Password</a>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top: 90px;margin-left: 500px !important;position: sticky;padding-top: 250px;">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="text-align: center">
              <img style="border-radius: 40px; padding-bottom: 10px" src="assets/img/crown.png" /><br />
              <span style="color: #0a424a">
                Powered By Crown WorldWide Group</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Help let-c="close" let-d="dismiss" let-modal>
  <div class="card-body">
    1.Enter UserID, Enter Password & Click on Sign in<br />
    2. Helps in finding new password through mail<span style="color: #ffffff; font-weight: bold">Forgot Password</span>
    <br />
    <span>Need More Help?</span><br />
    <span style="color: black; font-weight: bold">We are available hear </span><br />
    <img style="padding-top: 10px; padding-bottom: 10px; height: 41px" src="assets/img/telephone.png" />:<span
      style="padding-top: 10px">7208941973</span><br />
    <img style="height: 25px" src="assets/img/email.png" />:<span style="padding-bottom: 5px">{{ lbl }}</span>
  </div>
</ng-template>

<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>