.document {
  padding-left: 300px;
  padding-right: 20px;
  width: 100%;
  float: left;
  padding-top: 30px;
}

.document .mat-card {
  width: 100%;
  float: left;
}

.document h4 {
  font-size: 18px;
}

.head_section {
  justify-content: space-between;
  margin-bottom: 10px;
}

.add_document h4 {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: .88rem;
}

.modal-dialog {
  max-width: 530px !important;
}

.modal-dialog {
  height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: none;
}

.margin-bottomcls {
  margin-bottom: 5px;
}

.AdvancedSearchMainContainer .card {
  width: 100%;
}

.AdvancedSearchMainContainer .card .paddingclass {
  padding: 0px;
}

.AdvancedSearchMainContainer .card .card-header {
  border-radius: 0;
}

.AdvancedSearchMainContainer .card .card-body {
  padding: 24px 10px;
}

.AdvancedSearchMainContainer .card .card-body .row {
  margin: 0;
}

.AdvancedSearchMainContainer .card .form-control {
  float: right;
  height: 35px;
  padding: 0px 15px;
}

.AdvancedSearchMainContainer .card .form-control-label {
  width: 35%;
  padding: 0 1px;
  margin-bottom: 0px;
}

.AdvancedSearchMainContainer .card .serchInput {
  height: 35px;

}

.card-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.btndiv .btn {
  padding: 0 15px;
}

.resetsave {
  float: right;
  width: 65%;
  height: 35px;
}

.resetsave .resetsavebts {
  float: right;
}

.table {
  font-weight: 700;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
}

.sec1 {
  margin: 0;
  position: absolute;
  right: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.card-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.btndiv .btn {
  padding: 0 15px;
}

.resetsave {
  float: right;
  width: 65%;
  height: 35px;
}

.resetsave .resetsavebts {
  float: right;
}

.metadata-table th {
  padding: 2px;
}

.metadata-table tbody tr:hover {
  background: #f78d8d;
  color: #fff;
}


.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

::ng-deep #ContentSearchPage .ui-table-wrapper th,
::ng-deep #ContentSearchPage .ui-table-wrapper td {
  font-size: 12px;
}

::ng-deep #contentSearchDocView td {
  font-size: 11px;
  border: none;
}

::ng-deep #contentSearchDocView .zoom {
  height: 725px !important;
}

::ng-deep #contentSearchDocView .card {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input[type="text"] {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}

.metadata-table th {
  padding: 4px;
}

.metadata-table tbody tr:hover {
  background: #f78d8d;
  color: #fff;
}

::ng-deep #fileStorageDocView td {
  font-size: 11px;
  padding: 2px;
  border: none;
}

::ng-deep #fileStorageDocView .card {
  margin: 0;
}

::ng-deep #fileStorageDocView .zoom {
  height: 725px !important;
}

.global-search {
  width: 25%;
  border: 1px solid rgb(128, 96, 0);
  padding: 5px;
}

.b_cl {
  background: #006ba1;
  color: white;
  border: none;
}

.cl {
  background: #006ba1;
  color: #fff;
  border: none;
}

.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  background: #88b0c3 !important;
}

.btn-aln {
  text-align: right;
}

button.btn.btn-cl {
  background: #76dfb2;
  color: #fff;
}

.pd-al {
  padding: 9px 33px !important;
}

.ic_s {
  font-size: 19px !important;
}


.main {
  width: 50%;
  margin: 50px auto;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

::ng-deep .error-messages .error-message {
  position: relative;
  top: 0;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

::ng-deep .error-messages .error-message {
  position: relative;
  top: 0;
}

::ng-deep .userTables_wrapper p-table td {
  white-space: nowrap;
}

::ng-deep .userTables_wrapper p-table table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}

::ng-deep .userTables_wrapper p-table .ui-table-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.custom-modal-width .modal-dialog {
  max-width: 1000%;
}

.Active {
  color: green;
}

.In-Active {
  color: red;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled-link img {
  filter: grayscale(100%) brightness(70%);
}

body {
  background-color: #f9f9fa
}

.container {
  margin-top: 100px;
}

.modal.fade .modal-bottom,
.modal.fade .modal-left,
.modal.fade .modal-right,
.modal.fade .modal-top {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: 100%
}

.modal.fade .modal-right {
  left: auto !important;
  transform: translate3d(100%, 0, 0);
  transition: transform .3s cubic-bezier(.25, .8, .25, 1)
}

.modal.fade.show .modal-bottom,
.modal.fade.show .modal-left,
.modal.fade.show .modal-right,
.modal.fade.show .modal-top {
  transform: translate3d(0, 0, 0)
}

.w-xl {
  width: 50%
}

.modal-content,
.modal-footer,
.modal-header {
  border: none
}

.h-100 {
  height: 100% !important
}

.list-group.no-radius .list-group-item {
  border-radius: 0 !important
}

.btn-light {
  color: #212529;
  background-color: #f5f5f6;
  border-color: #f5f5f6
}

.btn-light:hover {
  color: #212529;
  background-color: #e1e1e4;
  border-color: #dadade
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid rgba(160, 175, 185, .15);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}


.modal-header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 1px solid rgba(160, 175, 185, .15);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem
}

.successbtn {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 1px solid rgba(21, 97, 148, 0.15);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem
}

.card {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(21, 97, 148, 0.15);
  border-radius: 30px;
  background-color: #003564;
}

.icon_style {
  font-size: 17px !important;
  color: rgb(255 250 250);
  padding-top: 6px !important;
  padding-left: 6px !important;
  margin-top: 25px !important;
  background-color: #1235df94 !important;
}


.is-invalid {
  border-color: red !important;
}


.hover-image {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
}

.hover-image img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-image .hover-img {
  display: none;
}

.hover-image:hover .hover-img {
  display: block;
}

.hover-image:hover .static-img {
  display: none;
}
