<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="dataTables_wrapper">
                <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [first]="first"
                    (onPage)="paginate($event)" [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    styleClass="p-datatable-striped">
                    <ng-template pTemplate="caption">
                        <input type="text" pInputText size="50" placeholder="Search records"
                            (input)="searchTable($event)" class="global-search search"/>
                        <div class="btn-group float-right">
                            <button type="button" class="btn success" pTooltip="Download" tooltipPosition="top"
                                (click)="onDownloadExcelFile('Project List')">
                                <i class="fa fa-download fa-lg"></i>
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th>Sr No</th> -->
                            <th style="width: 8%; padding-left: 25px;">Action</th>
                            <th *ngFor="let col of headerList; let i = index" [ngStyle]="i == 0 && { width: '5%' }">
                                {{ col.header }}
                            </th>
                            <th>Status</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                        <tr>
                            <!-- <td style="text-align: center;">
                                {{ car["srNo"] }}
                            </td> -->
                            <td >
                                <a data-toggle="modal" pTooltip="Report" tooltipPosition="bottom" (click)="ViewRepo(car)"
                                    data-toggle-class="modal-open-aside" class="hover-image">
                                    <span style="width: 28px; height: 28px;color:#000;"
                                        [disable]="!car['UploadType'] !== 'API'">
                                        <img src="assets/img/open-book.png" alt="Edit User" class="static-img btn-image"
                                            style="width: 28px; height: 28px;" />
                                        <img src="assets/img/Login/Book.gif" alt="Edit User" class="hover-img btn-image"
                                            style="width: 28px; height: 28px;" />
                                    </span>
                                </a>
                                <a data-toggle="modal" (click)="ProjectDetails(car)"
                                    data-toggle-class="modal-open-aside" class="hover-image">
                                    <span style="width: 28px; height: 28px;">
                                        <img src="assets/img/eye.png" alt="Edit User" class="static-img btn-image"
                                            style="width: 28px; height: 28px; margin-left: 20px;"  pTooltip="View Details" tooltipPosition="bottom" />
                                        <img src="assets/img/Login/eye.gif" alt="Edit User" class="hover-img btn-image"
                                            style="width: 28px; height: 28px; margin-left: 20px;" pTooltip="View Details" tooltipPosition="bottom"/>
                                    </span>
                                </a>
                            </td>
                            <td *ngFor="let col of headerList">
                                {{ car[col.field] }}
                            </td>
                            <td>
                                {{ car["Project_Status"] }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-sm-6">
                <div id="modal-right" class="modal fade" data-backdrop="true">
                    <div class="modal-dialog modal-right w-xl">
                        <div class="modal-content h-100 no-radius">
                            <div class="modal-header">
                                <div class="modal-title text-md">
                                    <p style="color: black; font-size: larger;">
                                        {{ projectName }}
                                    </p>
                                </div>
                            </div>
                            <p-tabView>
                                <p-tabPanel header="Submit Code">
                                    <form [formGroup]="ProjectCodePullForm">
                                        <div class="modal-body">
                                            <div *ngIf="IntegrationType === 'GIT'" class="pl-4 pb-4">
                                                <button type="button" class="btn btn-primary" [disabled]="loading"
                                                    (click)="pullGitCode()"
                                                    style="background-color: #005e82; color: antiquewhite; border-radius: 7px;">
                                                    <span class="btn-inner--icon"><i class="fa fa-download"
                                                            style="color: antiquewhite; margin-right: 6px; font-size: 15px"></i>
                                                        Pull Source Code</span>
                                                </button>
                                            </div>

                                            <div *ngIf="IntegrationType === 'SFTP'" class="pl-4 pb-4">
                                                <button type="button" class="btn btn-primary" [disabled]="loading"
                                                    (click)="DownloadSFTPCode()"
                                                    style="background-color: #005e82; color: antiquewhite; border-radius: 7px;">
                                                    <span class="btn-inner--icon"><i class="fa fa-download"
                                                            style="color: antiquewhite; margin-right: 6px; font-size: 15px"></i>
                                                        Download Source Code</span>
                                                </button>
                                            </div>

                                            <div>
                                                <div *ngIf="initilizerLoaderOn"
                                                    style="display: flex; align-items: center;">
                                                    <p
                                                        style="margin: 0; padding-right: 10px; padding-left: 30px; font-size: large; color: #005e82">
                                                        Code Pull Initialized
                                                    </p>
                                                    <div class="spinner-border text-info" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <div *ngIf="initilizerLoaderOn === false"
                                                    style="display: flex; align-items: center;">
                                                    <p
                                                        style="margin: 0; padding-right: 10px; padding-left: 20px; font-size: large; color: #51af46">
                                                        Code Pull Completed
                                                    </p>
                                                    <div>
                                                        <i class="fas fa-check card icon_style"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pl-4 pt-4">
                                                <label for="Comment" style="font-size: large;">Comment *</label>
                                                <textarea id="Comment" formControlName="Comment" name="Comment" ngModel
                                                    required rows="5" cols="40" style="border-radius: 3px;"
                                                    [ngClass]="{'is-invalid': f.Comment.touched && f.Comment.invalid}"></textarea>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                                                data-dismiss="modal" [disabled]="ProjectCodePullForm.invalid">
                                                Submit Code
                                            </button>
                                        </div>
                                    </form>
                                </p-tabPanel>
                                <p-tabPanel header="Audit Log">
                                    <p-timeline [value]="events | slice:-5" class="card"
                                        style="margin-left: 0; padding-left: 0; background-color: #ffffff;border: none; ">
                                        <ng-template pTemplate="content" let-event>
                                            <div class="card"
                                                style="width: 180px;height: 140px;border-radius: 10px;background-color: #ffffff; margin-left: 30px; ">
                                                <i [class]="event.Status === 'Code Pull Completed' ? 'pi pi-check-circle' : 'pi pi-times-circle'"
                                                    [ngStyle]="{'color': event.Status === 'Code Pull Completed' ? 'green' : 'red'}"
                                                    style="font-weight: bold;font-size: larger;"></i>
                                                <p class="pl-3 mb-0 " style="font-weight: bold;">{{ event.Status }}</p>
                                                <p class="pl-3 mt-0">{{ event.CodeLastPullAt }}</p>
                                            </div>
                                        </ng-template>
                                    </p-timeline>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>