@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


@font-face {
    font-family: 'Gill-Sans-MT';
    src: url('../../../assets/fonts/Gill Sans MT Book Italic.ttf') format('ttf'),
        url('../../../assets/fonts/Gill Sans MT Book Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General container */
.login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #0f3b3f;
}

/* Left section */
.login-box {
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // width: 50%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;
    padding-left: 10%;
}

.login-box label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input fields */
.input-group {
    height: 50px;
    display: flex;
    align-items: center;
    background: #f5deb3;
    padding: 3px 15px 0px 0px;
    border-radius: 30px;
    margin-bottom: 15px;
    width: 150%;
}

.Submit-reset {
    height: 50px;
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
    width: 150%;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    height: 2rem;
    border: none;
    outline: none;
    background: transparent;
    flex: auto;
    font-size: 20px;
    padding-left: 20px;
}

.icon {
    padding: 0 8px;
    font-size: 18px;
    // padding-right: 55px;
    padding-left: 15px;
    padding-top: 11px;
}

.input-group .separator {
    width: 1px;
    height: 35px;
    background-color: #000000;
    /* Adjust the color as needed */
    margin: 0 38px;
}

/* Options */
.options {
    margin-top: 10px;
}

.options1 {
    align-content: center;
}

.options a {
    text-decoration: none;
    color: #00d084;
    font-weight: bold;
}

.options1 a {
    text-decoration: none;
    color: #c9f2e2;
    font-weight: bold;
    margin-top: 15px !important;
}

/* Sign-in button */
.login-btn {
    height: 40px;
    background-color: #00d084;
    color: white;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    float: right;
}

.resend-btn {
    height: 40px;
    background-color: #00d084;
    color: white;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    float: left;
}

.resend-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.login-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.resend-btn:hover {
    background-color: #009f63;
}

.login-btn:hover {
    background-color: #009f63;
}

/* Footer text */
.footer-text {
    position: absolute;
    bottom: 20px;
    left: 10%;
    color: white;
    font-size: 14px;
}

.footer-text a {
    // background: transparent;
    color: #f5deb3;
    font-weight: bold;
    text-decoration: none;
}

/* Right section with image */
// .login-container::after {
//     content: "";
//     width: 35%;
//     float: left;
//     background: url("/assets/co-1.jpg") no-repeat center center / cover;
//     border-top-left-radius: 50%;
//     border-bottom-left-radius: 50%;
// }

/* Media Query for responsiveness */
@media (max-width: 790px) {
    .login-container {
        flex-direction: column;
    }

    .login-box {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }

    .login-container::after {
        width: 100%;
        height: 50vh;
        border-radius: 0;
    }

    .image-box {
        justify-content: center;
    }

    .responsive-image {
        max-height: 300px;
    }
}

.image-box {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    /* Aligns the image to the right */
}

.responsive-image {
    width: 70%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the space properly */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
}

.Logo-icon {
    width: 15%;
    height: 10%;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}

.error small {
    display: block;
    font-size: 15px;
    margin-left: 2.2rem;
}

.input-group-text i {
    font-size: 1.2rem;
    color: #888;
    cursor: pointer;
}

.input-group-text:hover i {
    color: #333;
}

.input-group-text {
    background: transparent;
    border: none;
}