@media print {
    .no-print {
        display: none !important;
    }
}
.success {
    border-color:#005984    ;
    color: #005984;
  }
  
  .success:hover {
    background-color:#007ad9;;
    color:white;
    border-color:#007ad9;;
  }