.Active1 {
    color: green;
}

.Active {
    color: green;
}

.Pending {
    color: rgb(40, 121, 228);
}

.Inactive {
    color: red;
}

p {
    margin: 0px;
}


.Active {
    color: green;
}

.In-Active {
    color: red;
}

p {
    margin: 0px;
}
