<div class="FileStorageMainContainer">
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button type="button">View Document</button> -->
    <div class="container-fluid mt--6">
        <div class="row">
            <button type="button" (click)="onclick()" class="view_btn">View Document</button>
            <div class="card">
                <form [formGroup]="FileStorageForm">              
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maincontainer" *ngIf="visible">
                        <div class="position-relative row form-group">
                            <div class="filestoragediv">
                                <div class="card-body">
                                    <!-- <p-tree [value]="treeFiles"></p-tree> -->
                                    <div class="row">
                                        <div class="col-md-12 p-0" style="margin: 0 10px 0 0;">
                                            <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
                                                <mdb-card-header style="background:linear-gradient(40deg, #FFD86F, #FC6262);">Document Structure</mdb-card-header>
                                                <mdb-card-body style="padding: .5rem;">
                                                    <p-tree class="tree_box" [value]="treeFiles" [filter]="true" [(selection)]="selectedFiles" selectionMode="single" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                                                </mdb-card-body>
                                            </mdb-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="tabdiv">
                                <div class="tabset mt-4">
                                    <div borderColor="border-dark" class="card" style="margin-bottom: 10px;">
                                        <div class="card-body" style="padding: 1rem .5rem">
                                            <div class="row">
                                              
                                              <!-- <button class="btn btn-primary download-btn" *ngIf="selectedRows.length>0 || selectAllRows">Download <span *ngIf="!selectAllRows">{{selectedRows.length}}</span><span *ngIf="selectAllRows">all</span> item<span *ngIf="selectedRows.length>1 || selectAllRows">s</span></button>
                                               -->
                                               <div style="width: 60%;float: left;display: flex;">
                                                <div *ngIf="_isDownload == 'true'" >
                                                  <button type="button" tooltip="Download Files"
                                                    class="btn btn-icon btn-icon-only rounded-circle search_icon_btn"  (click)="DownloadBulkFiles()" >
                                                    <span class="btn-inner--icon">
                                                      <img src="assets/img/file-download.png" class="actionIcon" id="actionIcon">
                                                      <!-- <i id="actionIcon" class="fa fa-download actionIcon"></i> -->
                                                    </span>
                                                  </button> 
                                                </div>
                                                <div *ngIf="_ShareLink == 'true'" >
                                                  <button type="button" tooltip="Share link"
                                                  class="btn btn-icon btn-icon-only rounded-circle search_icon_btn"  (click)="ShareLink(ShareLinkFormPopup)" >
                                                  <span class="btn-inner--icon">
                                                    <img src="assets/img/share_links.png" class="actionIcon" id="actionIcon">
                                                    <!-- <i id="actionIcon" class="fa fa-share-alt actionIcon"></i> -->
                                                  </span>
                                                  </button>
                                                </div>
                                                <div *ngIf="_isEmail == 'true'" >
                                                <button type="button" tooltip="Send E-Mail"
                                                class="btn btn-icon btn-icon-only rounded-circle search_icon_btn" (click)="SendBulkEmail(EmailFormPopup)">
                                                <span class="btn-inner--icon">
                                                  <img src="assets/img/send-mail.png" class="actionIcon" id="actionIcon" style="width:75%">
                                                  <!-- <i id="actionIcon" class="fa fa-envelope actionIcon"></i> -->
                                                </span>
                                              </button>
                                              </div>
                                              <div>
                                                <button type="button" tooltip="Download Metadata"
                                                    class="btn btn-icon btn-icon-only rounded-circle search_icon_btn"  (click)="DownloadMetadata()" >
                                                    <span class="btn-inner--icon">
                                                      <img src="assets/img/download-matadata.png" class="actionIcon" id="actionIcon">
                                                      <!-- <i id="actionIcon" class="fas fa-file-download actionIcon/"></i> -->
                                                    </span>
                                                </button>
                                              </div>
                                            </div>
  
                                            <!-- <div class=" col-md-3"> -->
                                              <!-- <div class=" form-group"> -->
  
                                              <!-- <div style="width: 67%; float: right;">    
                                                <div class="reresh-table" style="width: 30px;float:right;text-align: right;">
                                                  <i style="cursor: pointer;" class="fa fa-sync" title="Restore Table" (click)="GetFileInfo('')"></i>
                                                </div>  
                                                <select name="TemplateID" id="TemplateID" style="width: 20%;float: right;
                                                position: relative;
                                                bottom: 8px;" class="form-control"  formControlName="TemplateID" (change)="geTemplateNameListByTempID($event.target.value)">
                                                  <option value=0>Select Template</option>   
                                                  <option *ngFor="let _Temp of TemplateList" [value]="_Temp.TemplateID"  >  
                                                  {{_Temp.TemplateName}}  
                                                  </option>   
                                                </select>
                                                <label style="width: auto; float: right; position: relative;
                                                top: 3px;
                                                right: 8px;" for="TemplateID" class=" form-control-label">  Select Template </label>
                                              </div>
                                               -->
                                              
                                              <!-- </div> -->
                                              
                                                <p-table #tt selectionMode="single" style="width: 100%;" [autoLayout]="true" [paginator]="true" [rows]="10" [columns]="tableHeader" [value]="formattedData"  (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading" [(first)]="first" (onPage)="paginate($event)" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                                <ng-template pTemplate="caption">
                                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                                    <input type="text" pInputText size="50" placeholder="Global Filter" (keyup)="filterFolderTable($event)" class="global-search">
                                                </ng-template>
                                                <ng-template pTemplate="header" let-columns>
                                                    <tr>
                                                        <th [style.width]="'35px'">
                                                          <p-checkbox (onChange)="selectAllRow($event, doc)" #e></p-checkbox>
                                                        </th>
                                                        <th *ngFor="let col of columns;" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field != 'fileNo'">
                                                        {{col.header}}
                                                        <!-- <p-sortIcon [field]="col.field" *ngIf="col.field == 'fileNo'"></p-sortIcon> -->
                                                        </th>
                                                        <th [style.width]="'10%'">
                                                            ACTION
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-doc let-columns="columns">
                                                    <tr>
                                                        <td [style.width]="'35px'">
                                                            <!-- <p-tableCheckbox [value]="doc"></p-tableCheckbox> -->
                                                            <p-checkbox [(ngModel)]="doc.selected" [binary]="true" [ngModelOptions]="{standalone: true}" (onChange)="selectRow($event, doc)" #e></p-checkbox>
                                                        </td>
                                                        <td *ngFor="let col of columns">
                                                            {{doc[col.field]}}
                                                        </td>
                                                        <td [style.width]="'190px'" style="display: none;">
                                                            <!-- <button type="button" style="padding:1px 1px 1px 1px"
                                                                class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                                                                (click)="ViewRowData(row)">
                                                            <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-eye"></i></span>
                                                            </button> -->
                                                            <button type="button" tooltip="View Index Data"  style="padding:1px 1px 1px 1px;float: left"
                                                                class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                                                                data-toggle="modal" data-target="#myModal"  (click)="MetaData(MetaDataFormPopup,doc)">
                                                            <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-eye"></i></span>
                                                            </button>
                                                            
                                                            <button type="button" tooltip="Edit Index Data" *ngIf="_isEdit == 'true'" style="padding:1px 1px 1px 1px;float: left"
                                                                class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                                                                (click)="EditRowData(doc)">
                                                            <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-edit"></i></span>
                                                            </button>
  
                                                            <!-- <button type="button" style="padding:1px 1px 1px 1px" Tooltip="Click Favourite Button"
                                                                class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                                                                (click)="Setfavourite(row.ACC)">
                                                            <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-star"></i></span>
                                                            </button> -->
                                                            
                                                            <button type="button" tooltip="Download File" *ngIf="_isDownload == 'true'"   style="padding:1px 1px 1px 1px;float: left" Tooltip="Click Download File"
                                                                class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                                                                (click)="DownloadFileFromDB(doc)">
                                                            <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-download"></i></span>
                                                            </button>
                                                          
                                                          
                                                            
                                                            <!-- <button type="button" tooltip="Archive File" style="padding:1px 1px 1px 1px;float: left"
                                                            class="btn btn-icon btn-secondary  btn-icon-only rounded-circle"
                                                            (click)="ArchiveFile(doc)">
                                                        <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-archive"></i></span>
                                                        </button> -->
  
  
                                                      
                                                        <button type="button" *ngIf="_isEmail == 'true'" tooltip="Send Mail" style="padding:1px 1px 1px 1px;float: left"
                                                        class="btn btn-icon btn-secondary  btn-icon-only rounded-circle"
                                                        (click)="SendEmail(EmailFormPopup,doc)">
                                                    <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-envelope"></i></span>
                                                    </button>
                                                
  
                                                   
                                                      <button type="button" *ngIf="_isDelete == 'true'" tooltip="Delete Folder"  style="padding:1px 1px 1px 1px;float: left"
                                                          class="btn btn-icon btn-secondary  btn-icon-only rounded-circle"
                                                          (click)="DeleteFullFile(doc)">
                                                      <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-trash"></i></span>
                                                      </button>
                                                 
                                                      <!-- <button type="button" tooltip="Favourite"  style="padding:1px 1px 1px 1px;float: left"
                                                      class="btn btn-icon btn-secondary  btn-icon-only rounded-circle"
                                                      (click)="favourite(doc)">
                                                  <span class="btn-inner--icon"><i id="actionIcon" class="fa fa-favourite"></i></span>
                                                  </button> -->
                                                
                                                        
                                                        </td>
                                                        <td class="mat-action-items">
                                                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="cl">
                                                            <mat-icon>more_vert</mat-icon>
                                                          </button>
                                                          <mat-menu #menu="matMenu">
                                                              <!-- <button mat-menu-item (click)="MetaData(MetaDataFormPopup,doc)">
                                                                <i class="material-icons">preview</i>
                                                                <span>View Index Data</span>
                                                              </button> -->
                                                              <button mat-menu-item (click)="ViewDocument(ImageViewFormPopup,doc,MetaDataFormPopup)">
                                                                  <!-- <i class="material-icons">preview</i> -->
                                                                  <span>Document View</span>
                                                                </button>
  
                                                              <button mat-menu-item (click)="EditRowData(doc)" *ngIf="_isEdit == 'true'">
                                                                <!-- <i class="material-icons">edit</i> -->
                                                                <span>Edit Index Data</span>
                                                              </button>
                                                               
                                                              <button mat-menu-item (click)="DownloadFileFromDB(doc)" *ngIf="_isDownload == 'true'">
                                                                <!-- <i class="material-icons">file_download</i> -->
                                                                <span>Download Folder</span>
                                                              </button>
                                                            
                                                              <!-- <button mat-menu-item (click)="ArchiveFile(doc)">
                                                                <i class="material-icons">archive</i>
                                                                <span>Archive File</span>
                                                              </button>
                                                               -->
                                                                                                                   
                                                              <button mat-menu-item (click)="SendEmail(EmailFormPopup,doc)" *ngIf="_isEmail == 'true'">
                                                                <!-- <i class="material-icons">mail_outline</i> -->
                                                                <span>Send Email</span>
                                                              </button>
                                                           
                                                           
                                                              <button mat-menu-item (click)="DeleteFullFile(doc)" *ngIf="_isDelete == 'true'">
                                                                <!-- <i class="material-icons">delete</i> -->
                                                                <span>Delete Folder</span>
                                                              </button>
                                                           
                                                              
                                                              <button mat-menu-item (click)="favourite(doc)">
                                                                <!-- <i class="material-icons">favorite</i> -->
                                                                <span>Favourite Folder</span>
                                                              </button>
                                                           
                                                            
                                                            <!-- <button mat-menu-item (click)="VersionDetails(VersionFormPopup,doc)">
                                                                <i class="material-icons">preview</i>
                                                                <span>Version Details</span>
                                                              </button> -->
  
                                                              
                                                              
                                                          </mat-menu>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <hr class="divider"/>
                                <div class="tabset">
                                  Classic tabs  
                                  <p-tabView>
    
                                      <p-tabPanel header="Log">
                                          <div class="tab-pane d-none" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                              <div class="dataTables_wrapper py-4">
                                                  <div class="row">
                                                      <div class="col-sm-12 col-md-6">
                                                          <div class="dataTables_length" id="datatable_length">
                                                              <label>
                                                                  Show
                                                                  <select name="datatable_length" aria-controls="datatable"
                                                                      class="form-control form-control-sm" (change)="entriesChange($event)">
                                                                      <option value="10" [selected]="entries == 10">10</option>
                                                                      <option value="25" [selected]="entries == 25">25</option>
                                                                      <option value="50" [selected]="entries == 50">50</option>
                                                                      <option value="-1" [selected]="entries == -1">All</option>
                                                                  </select>
                                                                  entries
                                                              </label>
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-12 col-md-6">
                                                          <div id="datatable_filter" class="dataTables_filter pr-0">
                                                              <label>
                                                              <input type="search" class="form-control form-control-sm" placeholder="Search records" class="global-search"
                                                                  aria-controls="datatable" (keyup)="filterTableLog($event)" />
                                                              </label>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50"
                                                  [footerHeight]="50" [rowHeight]="'auto'" [limit]="entriesLog != -1 ? entriesLog : undefined"
                                                  [rows]="_LogFilteredList" (activate)="onActivateLog($event)">
                                                  <ngx-datatable-column name="SrNo">
                                                      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}
                                                      </ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="UserName">
                                                      <ng-template let-row="row" ngx-datatable-cell-template>{{row.UserName}}</ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="ACTIVITY">
                                                      <ng-template let-row="row" ngx-datatable-cell-template>{{row.Activity}}</ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="LOGDATE">
                                                      <ng-template let-row="row" ngx-datatable-cell-template>{{row.LogDate}}
                                                      </ng-template>
                                                  </ngx-datatable-column>
                                                  </ngx-datatable>
                                              </div>
                                          </div>
                                          
                                          <p-table [paginator]="true" [rows]="10" [value]="_LogFilteredList">
                                              <ng-template pTemplate="caption">
                                                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                                  <input type="text" pInputText size="50" placeholder="Search records" (input)="filterTableLog($event)" class="global-search">
                                              </ng-template>
                                              <ng-template pTemplate="header">
                                                  <tr>
                                                      <th *ngFor="let col of logTableHeader" [pSortableColumn]="col.field">
                                                          {{col.header}}
                                                          <p-sortIcon [field]="col.field"></p-sortIcon>
                                                      </th>
                                                  </tr>
                                              </ng-template>
                                              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                                                  <tr>
                                                      <td *ngFor="let col of logTableHeader">
                                                          <ng-container *ngIf="col.field === 'SRNO'">
                                                              {{rowIndex + 1}}
                                                          </ng-container>
                                                          <ng-container *ngIf="col.field !== 'SRNO'">
                                                              {{car[col.field]}}
                                                          </ng-container>
                                                      </td>
                                                  </tr>
                                              </ng-template>
                                          </p-table>
                                      </p-tabPanel>
  
                                  </p-tabView>
                              </div> -->
                              
                            </div>
                        </div>
                    </div>
  
                    <ng-template #AdvancedFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class=" card">
                            <div class=" card-header"><h3 class=" mb-0">File Uplaod</h3></div>
                           <div class="card-body">
                      
                                <div class="form-row">
                                  <div class="col-md-12 mb-3">
                                    <label class="form-control-label" for="MFileNo">
                                      {{TempField}}
                                    </label>
                                    <input class="form-control" id="MFileNo" formControlName="MFileNo" placeholder="File No" type="text"/>
                                    <div class="valid-feedback">Looks good!</div>
                                  </div>
                                  <div class="col-md-12 mb-3">
                                    <label class="form-control-label" for="DocuemntType">
                                      Docuemnt Type
                                    </label>
                                    <input class="form-control" id="DocuemntType" formControlName="DocuemntType" placeholder="Docuemnt Type" type="text"/>
                                    <div class="valid-feedback">Looks good!</div>
                                  </div>
                                  
              
                                  <div class="col-md-12 mb-3">               
                                    <div class="custom-file">
                                      <input type="file" id="customFileUploadMultiple" class="custom-file-input"  (change)="getFileDetails($event)">                
                                      <span class="selected-file-name"></span>
                                      <label
                                        class=" custom-file-label"
                                        for="customFileUploadMultiple"                        >
                                        Choose Folder
                                      </label>
                                    </div>
                                  </div>
                                  
                                </div>
                                <div class="row">
                                <div class="col-md-2">  
                                  <div class="">             
                                  <button type="button" class="btn btn-success pd-al" (click)="uploadFiles()"
                                  [disabled]="myFiles.length>0?'':'disabled'">
                                    <i class=" fas fa-file-upload fa-2x ic_s"></i>
                                  </button>
                                </div>
                                </div>
  
                                <div class="col-md-3">
                                  <div class="btn-aln">
                                  <button type="button" class="btn btn-cl"  (click)="hidepopup()">Close</button>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
  
                    <ng-template #MetaDataFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class=" card">
                            <div class=" card-header"><h3 class=" mb-0" >Index Data</h3></div>
                           <div class="card-body">
              
                            <table class="table-hover table-striped table">               
                              
                              <tr *ngFor="let Ilst of _IndexList">                   
                                  <td><b>{{Ilst.DisplayName}}</b></td>                                
                                  <td>{{Ilst.ColValues}}</td>                    
                                </tr>                
                            </table>
              
              <div class=" col-md-3" style="padding-top: 32px">
                <button type="button" class="btn btn-warning" (click)="hidepopup()">Close</button>
              </div>
              
              
                            </div>
              
                          </div>
                        </div>
                      </div>
                    </ng-template>
  
                    <ng-template #EmailFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content" style="width: 1000px; position: relative; right: 40%;">
                        <div class="modal-body p-0">
                          <div class=" card">
                            <div class=" card-header"><h3 class=" mb-0">Send Email</h3></div>
                           <div class="card-body">
                              <div class="form-row">
                                  
                                  <div class="col-md-12 mb-3">
                                      <label class="form-control-label" style="float:left;padding-right: 45px; padding-top: 12px;" for="ToEmailID">
                                        To 
                                      </label>
                                      <!-- <input formControlName="ToEmailID" placeholder="Email" type="email" class="form-control"/> -->
                                      <tag-input 
                                        [(ngModel)]="emailReciepients" 
                                        [ngModelOptions]="{standalone: true}"
                                        placeholder="Enter email address"
                                        [editable]='true' 
                                        [errorMessages]="errorMessages"
                                        [validators]="validators" 
                                        #tagInput
                                        [onAdding]="onAddedFunc">
                                      </tag-input>
                                    </div>
                                    <div class="col-md-9">
                                     
                                         <input class="form-control mt-2 mb-2" style="width:86%;"  formControlName="Subject" placeholder="Subject" type="text"/>
                                        
                                    </div>
                                    <div class="col-md-3" style="display: flex;justify-content:center;align-items: center;">
                                      <input type="checkbox" style="height: 20px;width:20PX;margin-right: 10px;" checked="true" formControlName="predefined" name="predefined" value="Default Template">
                                      <label class="form-control-label" for="predefined" style="padding-top: 10px;">
                                        Default Template
                                      </label>
                                    </div>    
                                    <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
                                                               
              
                                  
                                </div>
                                <div class=" col-md-8" style="padding-top: 32px">  
                                  <button class="btn submit_btn" [disabled]="!emailReciepients.length" (click)="onSendEmail()"> Send</button>
                                  <button class="btn close_btn"  (click)="hidepopup()"> Close</button>
                                 
                                </div>
                                <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Clear</button> -->
                    
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
  
                    <ng-template #ShareLinkFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content" style="width: 1000px; position: relative; right: 40%;">
                        <div class="modal-body p-0">
                          <div class=" card">
                            <div class=" card-header"><h3 class=" mb-0">Share Link</h3></div>
                           <div class="card-body">
                              <div class="form-row">
                                  
                                  <div class="col-md-12 mb-3">
                                      <label class="form-control-label" style="float:left;padding-right: 45px; padding-top: 12px;" for="ToEmailID">
                                        To 
                                      </label>
                                      <!-- <input formControlName="ToEmailID" placeholder="Email" type="email" class="form-control"/> -->
                                      <tag-input 
                                        [(ngModel)]="emailReciepientsShare" 
                                        [ngModelOptions]="{standalone: true}" 
                                        [editable]='true' 
                                        placeholder="Enter email address"
                                        [errorMessages]="errorMessages"
                                        [validators]="validators" 
                                        #tagInput
                                        [onAdding]="onAddedFunc">
                                      </tag-input>
                                    </div>
                                    <div class="col-md-9">
                                  
                                <input class="form-control mt-2 mb-2" style="width:86%;"  formControlName="Subject" placeholder="Subject" type="text"/>
                                        
                                    </div>
                                    <div class="col-md-3" style="display: flex;justify-content:center;align-items: center;">
                                      <input type="checkbox" style="height: 20px;width:20PX;margin-right: 10px;" checked="true" formControlName="predefined" name="predefined" value="Pre Defined">
                                      <label class="form-control-label" for="predefined" style="padding-top: 10px;">
                                        Default Template
                                      </label>
                                    </div>
                                    <!-- <br /> -->
                                     <!-- <br />
                                    -->
  
                                    <div class="col-md-12 mb-3">
                                    
                                      <input type="text" formControlName="ValidDate"  placeholder="Valid Date" class="form-control"  bsDatepicker [bsValue]="bsValue"
                                      [bsConfig]="{
                                        isAnimated: true,
                                        containerClass: 'theme-red'
                                      }"
                                      [minDate]="today"
                                    />  
                                  
                                  </div>   
                                    <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
                                                                                                    
                                  </div>
                                                       
              
                                  
                                <!-- </div> -->
                                <div class=" col-md-8" style="padding-top: 32px">  
                                  <button class="btn submit_btn" [disabled]="!emailReciepientsShare.length" (click)="onSendEmailByShare()"> Send</button>
                                  <button class="btn close_btn"  (click)="hidepopup()"> Close</button>
                                 
                                </div>
                                <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Clear</button> -->
                    
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
  
                    <ng-template #ImageViewFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content" id="fileStorageDocView">
                        <div class="modal-body p-0">
                          <div class="card w-100">              
                            <div class=" card-header"><h3 class=" mb-0" >Document View
                              <span style="float: right;cursor: pointer;" (click)="hidepopup()" class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                            </h3>
                            </div>
                           <div class="card-body">
              
                            <div>
                              <div class="card-body" style="padding:0">
                                <div class="row">
                                  <div class="col-lg-4 metadata-table">
                                  
                                    <!-- <img [src]="profileImg ? profileImg : '../../../../assets/img/theme/download.jpg'" style="width:200px;height:165px;"/>
                                   -->
                                  
                                    <table class="table-hover table">                
                                      <tr *ngFor="let Ilst of _IndexList">                   
                                          <td><b>{{Ilst.DisplayName}}</b></td>
                                          <td>{{Ilst.ColValues}}</td>                    
                                        </tr>                
                                    </table>
                                
                                  <!-- <div>
                                    <h4 *ngIf="documentDetails">Document Details
                                      <button type="button" style="padding-left: 4px;" data-toggle="tooltip" data-original-title="Click View File" tooltip="View Full File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle"  (click)="viewFullFile(_TempFilePath)" >
                                        <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                                      </button>
                                    </h4>
                                  </div> -->
                                    <!-- <table class="table-hover table">
                                      <tr>
                                        <th>Doc Type</th>
                                        <th>Count</th>
                                        <th>Action</th>
                                      </tr>             
                                      <ng-container *ngFor="let Ilst of documentDetails">
                                      <tr [ngClass]="{'no-doc': Ilst.DocCount == 0 }">
                                          <td><b>{{Ilst.DocType}}</b></td>
                                          <td>{{Ilst.DocCount}}</td>
                                          <td>
                                            <div *ngIf="Ilst.DocCount > 0" style="cursor: pointer;" style="width: 60px;">
                                              <button type="button" style="padding:1 0 5px 4px;float: left" data-toggle="tooltip" data-original-title="Click View File" tooltip="View Tagged File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle" (click)="showDocument(Ilst)" >
                                                <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                                              </button>
                                              <button type="button" style="padding:1 0 5px 4px;float: left" data-toggle="tooltip" data-original-title="Click Download File" tooltip="Download Tagged File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle" (click)="downloadFile(Ilst)">
                                                <span class="btn-inner--icon"><i class="fa fa-download"></i></span>
                                              </button>
                                            
                                            </div>
                                          </td>
                                        </tr>
                                      </ng-container>
                                    </table> -->
  
                                  </div>
  
                                  <!-- <div class="col-lg-8">
                                    <ngx-extended-pdf-viewer  id="Viewer"                         
                                    [page] ="_PageNo"           
                                    [useBrowserLocale]="true" 
                                    [textLayer]="true"
                                    [showHandToolButton]="true" 
                                    [height]="'120vh'"
                                    [showOpenFileButton]="false"
                                    [enablePrint] = "false"
                                    *ngIf="FilePath" [src]="FilePath" 
                                                  
                                  
                                </ngx-extended-pdf-viewer>
                                  </div> -->
  
                                  <div class="col-lg-8" *ngIf="FilePath">
                                    <ng-container *ngIf="fileExt != '.pdf'">
                                      <ngx-doc-viewer
                                        [url]="FilePath"
                                        viewer="google"
                                        style="width:100%;height:90vh;"
                                      ></ngx-doc-viewer>
                                    </ng-container>
                                    <ng-container *ngIf="fileExt == '.pdf'">
                                      <ngx-extended-pdf-viewer  id="Viewer"
                                      [page] ="_PageNo"
                                      [useBrowserLocale]="true"
                                      [textLayer]="true"
                                      [showHandToolButton]="true"
                                      [height]="'90vh'"
                        
                                      *ngIf="FilePath" [src]="FilePath"
                                      > 
                        
                                      </ngx-extended-pdf-viewer>
                                    </ng-container>
                                  </div>
  
  
                                </div>
                              </div>
                            </div>
                      <br>
                          <!-- <div class="sec1">
                            <button type="button" class="btn btn-warning" (click)="hidepopup()">Close</button>
                          </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>   
  
  <div *ngIf="documentView">
    <div class="card w-100">              
        <div class=" card-header"><h3 class=" mb-0" >Document View
          <span style="float: right;cursor: pointer;" (click)="hidepopup()" class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
        </h3>
        </div>
       <div class="card-body">

        <div>
          <div class="card-body" style="padding:0">
            <div class="row">
              <div class="col-lg-4 metadata-table">
              
                <!-- <img [src]="profileImg ? profileImg : '../../../../assets/img/theme/download.jpg'" style="width:200px;height:165px;"/>
               -->
              
                <table class="table-hover table">                
                  <tr *ngFor="let Ilst of _IndexList">                   
                      <td><b>{{Ilst.DisplayName}}</b></td>
                      <td>{{Ilst.ColValues}}</td>                    
                    </tr>                
                </table>
            
              <!-- <div>
                <h4 *ngIf="documentDetails">Document Details
                  <button type="button" style="padding-left: 4px;" data-toggle="tooltip" data-original-title="Click View File" tooltip="View Full File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle"  (click)="viewFullFile(_TempFilePath)" >
                    <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                  </button>
                </h4>
              </div> -->
                <!-- <table class="table-hover table">
                  <tr>
                    <th>Doc Type</th>
                    <th>Count</th>
                    <th>Action</th>
                  </tr>             
                  <ng-container *ngFor="let Ilst of documentDetails">
                  <tr [ngClass]="{'no-doc': Ilst.DocCount == 0 }">
                      <td><b>{{Ilst.DocType}}</b></td>
                      <td>{{Ilst.DocCount}}</td>
                      <td>
                        <div *ngIf="Ilst.DocCount > 0" style="cursor: pointer;" style="width: 60px;">
                          <button type="button" style="padding:1 0 5px 4px;float: left" data-toggle="tooltip" data-original-title="Click View File" tooltip="View Tagged File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle" (click)="showDocument(Ilst)" >
                            <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                          </button>
                          <button type="button" style="padding:1 0 5px 4px;float: left" data-toggle="tooltip" data-original-title="Click Download File" tooltip="Download Tagged File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle" (click)="downloadFile(Ilst)">
                            <span class="btn-inner--icon"><i class="fa fa-download"></i></span>
                          </button>
                        
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </table> -->

              </div>

              <!-- <div class="col-lg-8">
                <ngx-extended-pdf-viewer  id="Viewer"                         
                [page] ="_PageNo"           
                [useBrowserLocale]="true" 
                [textLayer]="true"
                [showHandToolButton]="true" 
                [height]="'120vh'"
                [showOpenFileButton]="false"
                [enablePrint] = "false"
                *ngIf="FilePath" [src]="FilePath" 
                              
              
            </ngx-extended-pdf-viewer>
              </div> -->

              <div class="col-lg-8" *ngIf="FilePath">
                <ng-container *ngIf="fileExt != '.pdf'">
                  <ngx-doc-viewer
                    [url]="FilePath"
                    viewer="google"
                    style="width:100%;height:90vh;"
                  ></ngx-doc-viewer>
                </ng-container>
                <ng-container *ngIf="fileExt == '.pdf'">
                  <ngx-extended-pdf-viewer  id="Viewer"
                  [page] ="_PageNo"
                  [useBrowserLocale]="true"
                  [textLayer]="true"
                  [showHandToolButton]="true"
                  [height]="'90vh'"
    
                  *ngIf="FilePath" [src]="FilePath"
                  > 
    
                  </ngx-extended-pdf-viewer>
                </ng-container>
              </div>


            </div>
          </div>
        </div>
  <br>
      <!-- <div class="sec1">
        <button type="button" class="btn btn-warning" (click)="hidepopup()">Close</button>
      </div> -->
        </div>
      </div>
  </div>
  
                    <ng-template #VersionFormPopup let-c="close" let-d="dismiss" let-modal>
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class=" card">
                            <div class=" card-header"><h3 class=" mb-0">Version  Details
                              <span style="float: right;cursor: pointer;" (click)="hidepopup()" class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                           
  
                            </h3></div>
                           <div class="card-body">
                              <div >
                                             
                                
                                <div class="dataTables_wrapper py-4">
                                  <div class="row">
                                
                                    <div>
                                      <h4 >Document Details</h4>
                                    </div>
                                      <table class="table-hover table">
                                        <tr>
                                          <th>FileNo</th>
                                          <th>Version</th>
                                          <th>PageCount</th>
                                          <th>Action</th>
                                        </tr>             
                                        <ng-container *ngFor="let Ilst of _VList">
                                        <tr>
                                            <td><b>{{Ilst.FileNo}}</b></td>
                                            <td>{{Ilst.Version}}</td>
                                            <td>{{Ilst.PageCount}}</td>
                                            <td>
                                              <div>
                                                <button type="button" style="padding:1 0 5px 4px;float: left" data-toggle="tooltip" data-original-title="Click Download File" tooltip="Download Version File"   class="btn btn-icon btn-pink btn-icon-only rounded-circle" (click)="DownloadVersionFile(Ilst)">
                                                  <span class="btn-inner--icon"><i class="fa fa-download"></i></span>
                                                </button>
                                              </div>
                                            </td>
                                          </tr>
                                        </ng-container>
                                      </table>
                                                                 
                                  </div>              
  
                                </div>
                                  
                                </div>
                                <div >                               
                                 
                                </div>
                                <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Clear</button> -->
                    
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                     
                </form>
            </div>
        </div>
    </div>
    
  
    <p-toast position="top-right" [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'1000ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [showTransformOptions]="'translateX(100%)'"></p-toast>