@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


 @font-face {
   font-family: 'Gill-Sans-MT';
   src: url('../../../assets/fonts/Gill Sans MT Book Italic.ttf') format('ttf'),
       url('../../../assets/fonts/Gill Sans MT Book Italic.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
  font-display: swap;
 }
// @font-face {
//   font-family: 'Arialn';
//   src: url('../../../assets/fonts/Arialn.ttf') format('ttf'),
//       url('../../../assets/fonts/Arialn.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
::placeholder {
  color: #005984;
  font-weight: 500;
}

.login {
  width: 100%;
  float: left;
}
.successl {
  //border-color:#005984  ; 
  color: #0A424A;
  border-radius: 13px;
  background-color: #C9F5D9;
  height: 31px;
  width: 77px;
  //border: 1px solid #007ad9;
}
.login_field {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 90px !important;
 // background-color: #ECF4FD !important;
  border-radius: 20px;
}

mat-form-field {
  display: initial !important;
}

table {
  width: 100% !important;
}

td {
  text-align: center;
}
form {
  background-color: #0A424A !important;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 25px;
  padding-right: 4%;
  width: 100%;
  //box-shadow: 0px 4px 10px 8px #2b1b1b;
}
.login_form {
   padding: 80px 0;
  height: 100vh;
  background-color: #FFFFFF !important;
  padding-top: 9%;
}

.outlined-text-field {
  position: relative;
  margin: 20px 0;
}

.outlined-text-field label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #0A424A !important;
  padding: 0 5px;
  font-size: 12px;
  color: #0A424A ;

}
.h5{
  color: white !important;
}
// .outlined-text-field label {
//   position: absolute;
//   top: -10px;
//   left: 10px;
//   background-color: white;
//   padding: 0 5px;
//   font-size: 12px;
//   color: #007bff;
// }