<!-- <div class="login">  

   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login_form">
                    <div class="white_bg">
                        <h5>Sign In</h5>
                        <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
                            <div class="row pb-4">
                              <div class="input-group input-group-icon">
                                <input type="email" placeholder="Email Address" formControlName="username" />
                                <div class="input-icon"><img src="assets/img/Login/email.svg"></div>
                                <div class="errorMsg-feedback" *ngIf="f.username.touched && f.username.hasError('required')">Enter
                                  User ID</div>
                              </div>
                              <div class="input-group input-group-icon">
                                <input type="password" placeholder="Password" formControlName="password" />
                                <div class="input-icon"><img src="assets/img/Login/lock.svg"></div>
                                <div class="errorMsg-feedback" *ngIf="f.password.touched && f.password.hasError('required')">Enter
                                  password</div>
                              </div>
                            </div>
                            <button (click)="onSubmit()">Sign In</button>
                            <button routerLink="/forgot-password" style="float:right">Forgot Password</button>
                          </form>
                    </div>
                    <p class="pt-3">The power of memory</p>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
      <p>Support : estoragesupport@crownims.com </p>
        <img src="assets/img/Login/logo.png">
    </div>
</div> -->



<div class="login" >
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-12">
        <div class="login_form">
          <div class="login_field">
            <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()" style="margin-bottom: 50px;">
              <table style="margin-top: 20px;">
                <tr class="col-md-6">
                  <td rowspan="2"><img src="assets/img/Logo.jpeg">
                    <p
                    style="font-style: italic;
                    font-size: 2.6rem; font-size: smaller;color: white;">
                    The power of memory
                  </p>
                  </td>
                  <td> 
                    <div style="position: relative;" class="p-float-label">
                    <input id="float-email" type="email" formControlName="username" maxlength="50" 
                          
                           style="width: 100%; color: black; border-radius: 5px;">
                    <label for="float-email" style="position: absolute; top: -20px; left: 0; color: white; font-size: 15px;">Email ID</label>
                  </div>
                  
                  </td>

                   
                </tr>
                <tr class="col-md-6">
                  <!-- <td> 
                  </td> -->
                </tr>
              </table>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="text-align: end;">
                  <button type="button" [disabled]="ForgotPasswordForm.invalid" class="successl" (click)="onSubmit()">Send
                    </button>
                </div>
              </div>
            </form>
            <div class="row" style=" display: flex; align-items: center; margin-left: 152px !important;  margin-top: -40px;">
              <div class="col-md-10" style="text-align: end;padding-top: 10px;cursor: pointer;color: #0A424A;"
               ><span  (click)="HelpDailog(Help)">Help?</span>
              </div>
              <div class="col-md-2" style="padding-left: 6px; padding-top: 10px;flex-shrink: 0; white-space: nowrap;">
                <a routerLink="/Login" style="text-decoration:underline;">Sign In</a>
              </div>
            </div>

          </div>
          <div class="row" style="padding-top: 90px;margin-left: 500px !important; position:sticky; padding-top: 200PX;">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="text-align: center;">
              <img style="border-radius: 40px;padding-bottom: 10px;" src="assets/img/crown.png"><br>
              <span style="color:#000000;"> Powered By Crown WorldWide Group</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<ng-template #Help let-c="close" let-d="dismiss" let-modal>
  <div class="card-body">
    1.Enter UserID, Enter Password & Click on Sign in<br>
    2. Helps in finding new password through mail<span style="color:#ffffff;font-weight:bold">Forgot Password</span>
    <br>      
    <span>Need More Help?</span><br>
    <span style="color:black;font-weight:bold">We are available hear </span><br>
    <img style="padding-top: 10px;padding-bottom: 10px;height: 41px;"
      src="assets/img/telephone.png">:<span style="padding-top: 10px;">7208941973</span><br>
    <img style="height: 25px;" src="assets/img/email.png">:<span style="padding-bottom: 5px;">{{lbl}}</span>
  </div>
</ng-template>
