.DataEntryMainContainer .card{
    width : 100%;
}
.DataEntryMainContainer .card .paddingclass {
    padding: 0px;
}
.DataEntryMainContainer .card .card-header {
    border-radius: 0;
}
.DataEntryMainContainer .card .card-body {
    padding: 15px;
}
.DataEntryMainContainer .card .card-body .row {
    margin: 0;
}
.DataEntryMainContainer .card .form-control{
    float: right;
    width: 65%;
    height: 35px;
    padding: 0px 15px;
}
.DataEntryMainContainer .card .form-control-label{
    width: 35%;
    padding: 0 1px;
    margin-bottom: 0px;
}
.DataEntryMainContainer .card .serchInput {
    float: right;
    width: 65%;
    height: 35px;
   
}

.card-header h3 {
    font-size: 20px;
    font-weight: 700;
}
.btndiv .btn{
    padding:  0 15px;
}

.resetsave{
    float: right;
    width: 65%;
    height: 35px;
}

.resetsave  .resetsavebts{
    float: right;
}
.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
::ng-deep .data-entry .modal-dialog {
    max-width: 1400px !important;
}

::ng-deep .data-entry .modal .modal-content .card {
    margin: 0;
    padding: 1rem 0;
}

/* ::ng-deep .data-entry .modal .modal-content .zoom {
    height: 75vh !important
} */

  .btn-primary {
    background-color: #003366;
    border-color: #003366;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }